/*!
 * Global v0.0.1
 *
 */
 
/***** Tag Styles *****/

h2 {
	font-size:18px;
	color:#333333;
	font-weight:bold;
	font-family:"Myriad Pro", Helvetica, Arial, sans-serif;   
}

h2 .differ {
	color:#666666;
	font-weight:normal;
	font-family:"Helvetica Bold", Helvetica, Arial;
}

ul { margin:0; }



 /**** HEADER Styles ********/
 
.header	{
	width:100%;
	margin:0;
} 

.header .navbar-inner{
    height: 66px;
	padding:0;
	background: #2c2c2c url("../img/header_bg.jpg") repeat-x;	
	-webkit-border-radius : 0;
       -moz-border-radius : 0;
            border-radius : 0;
}

.header .navbar-inner .navbar-container{
	margin:0 auto;
	width: 1000px;
	height: 66px;
}

.header .navbar-inner .navbar-container a.logo	{
	width:176px;
	height:66px;
	margin:0;
	padding:0;
	background:url(../img/fc_logo.png) no-repeat left center;
	text-indent:-1000em;
}


/* Primary Nav */

.header .primary-nav li a {
	margin-left:10px;
	padding:0px 10px;
	line-height: 66px;
	font-size: 18px;
	vertical-align: middle;
	color: #5EB1C6;
	font-family: "Helvetica Bold", Helvetica, Arial;
}


.header .primary-nav li a:hover { 
	background: #E3680E;
}

.header .primary-nav li.active a,
.header .primary-nav li.active a:hover{
	color: #5EB1C6;
	background: none;
}
.header .primary-nav li.dropdown .caret {
	margin: 0 4px 0; vertical-align:middle;
}

.header .primary-nav li.dropdown.active .dropdown-toggle,
.header .primary-nav li.dropdown .dropdown-toggle:hover {
  color: #ffffff;
  background: #E3680E;
}

.header .primary-nav li.dropdown .dropdown-menu ul { list-style: none; margin: 0px;}

.header .primary-nav li.dropdown .dropdown-menu a {
	margin:0;
	color:#00729E;
	font-size:13px;
	line-height:18px;
	padding:3px 15px;
}

.header .dropdown-menu a:hover,
.header .primary-nav .dropdown-menu a:hover{
	background:#333333;
	color: #999999;
	opacity:1;
}

.header .primary-nav li.dropdown:first-child .dropdown-menu{
	width:680px;
	padding-top:12px;
}


.header .primary-nav .dropdown-menu .popular-trends{
	width:160px;
	padding: 15px;
    margin-left: 45px;
	border: 1px solid #dcd9d1;
	background: #f3f3f2;
}
.header .primary-nav .dropdown-menu .popular-trends .nav-header{
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
	padding: 0px;
	padding-left:25px;
	background:url(../img/graph.png) no-repeat left top;
}

.header .primary-nav .dropdown-menu .popular-trends .nav-header .bold-title {
	color:#000000;
	font-weight:bold;
}


.header .primary-nav .dropdown-menu .popular-trends a {
	padding:0px;
	font-weight:bold;
	white-space:normal;
}

.header .primary-nav .dropdown-menu .popular-trends .divider-dot {
	height:1px;
	margin: 6px 0px;
	*margin: -5px 0 5px;
	overflow: hidden; 
	border-bottom: 1px dashed #CCCCCC;
}

.popular-trends .small-title {
	display:block;
	font-size:9px;
	color:#666666;
	text-transform:uppercase;
}



/* navbar - secondary */

.navbar-secondary .help	{ color:#999999; }

.navbar-secondary .user-info{
    padding: 0px;
    padding-right: 22px;
}

.navbar-secondary .user-info .btn{
    background: none;
    border: 0;
    text-shadow: none;
    color: #FFFFFF;
}
.navbar-secondary .user-info .btn span.caret{
    border-top: 4px solid #FFFFFF;
    opacity: 0.9;
}
.navbar-secondary .user-info .btn span.greet, .navbar-secondary span a{
    color: #999999;
}

.navbar-secondary span a:hover{
    color: #CCCCCC;
}

.navbar-secondary .user-info.btn-group .dropdown-toggle{
    box-shadow: none;
    padding-top: 0;
	background:none;
}



/**** Search field controls ****/

.navbar-search .search-query{
	background: #2C2C2C ;
	height: 16px;
	font-size: 12px;
	font-style: italic;
        border-radius: 0 3px 3px 0;
}

.navbar-search .search-query:focus{
    background-color: #292929;
    text-shadow: none;
    color: #999999;
}

.navbar-search .search-query:-moz-placeholder{
	color: #666666;	
}

.navbar-search .select-category{
    width: 90px;
    float: left;
    border: 1px solid #3F3F3F;
    border-right: 0px;
    color: #999;
    padding: 3px;
    height: 18px;

    background-color: #363636; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #363636 0%, #1B1B1B 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(100%,#1B1B1B)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #363636 0%,#1B1B1B 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #363636 0%,#1B1B1B 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #363636 0%,#1B1B1B 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#1B1B1B',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #363636 0%,#1B1B1B 100%); /* W3C */
  border: 1px solid #3D3D3D;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  border-radius: 6px 0 0 6px;
  box-shadow: 0 0px 0 rgba(0, 0, 0, 1) inset, 0 0px 1px rgba(0, 0, 0, 0.01);
}

.navbar-search .select-category button{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-shadow: none;
    color: #CCCCCC;
    padding: 5px 2px 5px 10px;
    text-shadow: none;
    line-height: 6px;
}

.navbar-search .select-category button.btn.dropdown-toggle{
    padding-right: 5px;
    float: right;
	background:none;
}

.navbar-search .select-category .btn .caret{
    margin-top: 5px;
    border-top: 4px solid #999999;
    opacity: 0.9;
}

.navbar-search .search-button {
	width:16px;
	height:17px;
	padding-right:10px;
	background:url("../img/search_icon.png") no-repeat left top; border:none;
	cursor:pointer;
	position:absolute;
	right:5px;
	top:5px;
}
							  


/* *************** Slider Header ******************* */

.title-header {
  width: 98%;
  height: 34px;
  margin-left:10px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
          
    margin-top: 20px;
}

.title-header li{
	line-height: 34px;
	vertical-align: middle;
}

.title-header .title-text{
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	padding-left: 22px;
}
.title-header li.sep, .carousel .carousel-inner .sep{
	color: #D6D6D6;
	font-size: 10px;
}


/* Title header Paginatin */

.title-header .pagination{
    position: relative;
    top: -54px;
    float: right;
    margin: 0;
    line-height: 36px;
    vertical-align: middle;
}

.title-header .pagination ul{
   border: 0px;
   box-shadow: none;
}

.title-header .pagination a{border: 0px;}

.title-header .pagination .nav-btn.current{
    background: transparent url("../img/slider_navs.png") 10px no-repeat;
    height: 10px;
    display: block;
}
.title-header .pagination .nav-btn{
    background: transparent url("../img/slider_navs.png") -10px no-repeat;
    height: 10px;
    display: block;
}

/* View All Box */

.view-all{
    position:absolute; top:25px; right:20px; z-index:10;
    max-width: 95px;
    height: 136px;
    background: transparent url('../img/view_all_bg.png');
    color: #00637E;
    text-align: center;
    padding: 18px 15px;
}

.view-all div.text{
    font-size: 18px;
}

.view-all div.no{
    font-size: 50px;
    font-weight: bold;
    margin: 12px;
}

/* *************** Slider Content ******************* */

.carousel .carousel-inner {
	width: 90%;
    /*margin: 14px 0px 20px 20px;*/
	margin: 0px 20px 20px 20px;
}

.carousel-inner.srp-width{
	width:525px;
}

.carousel-inner .item div {
    display: inline-block;
    float: left;
	 margin:25px 37px 0 0;
}

.carousel-inner .item img{
    margin-bottom: 3px;
}

.carousel-inner .item .movie-title{
	line-height:20px;
}
.carousel-inner .item .price {
	color: #e75d01;
	font-weight:bold;
}



/* ********** Icons ************* */
.brand.icon-cart{
    background: url("../img/icon_cart.png") left 23px no-repeat;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    margin-left: 5px;
	line-height:42px;
	padding:8px 20px 25px;

}
.brand.icon-fav{
    background: url("../img/icon_fav.png")  3px 24px no-repeat;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    margin-left: 5px;
	line-height:42px;
	padding:8px 20px 25px;
}


/****************************** Body Content ******************************************/

.content{
	width:1000px;
	margin:auto;
}

.content-conatiner{
	width:1000px;
	margin-top:10px;
	background:#FFFFFF;
	border:1px solid #CCCCCC;
	box-shadow: 0px 0px 5px #d5d5d5;
	-webkit-border-radius :5px;
	   -moz-border-radius :5px;
	        border-radius :5px;
}

.inner-content 		{ float:left; width:1000px; }

.primary-content	{ width:690px; float:left; }

.secondary-content	{ width:300px; float:right; }



/****************************** Footer ******************************************/

.footer-container{
	clear: both;
	width: 100%;
	height:135px;
	background: #333333 url("../img/footer_bg1.jpg") repeat-x;
}

.footer-container .footer-content{
	width: 1000px;
	margin: 62px auto;
	color: #999;
}

.footer-container .footer-content .column{
	width: 212px;
	padding-top: 25px;
	margin-right: 38px;
}

.footer-container .footer-content .column h4 {
	font-weight: normal;
}

.footer-container .footer-content .column h4 .highlight-title {
	color:#CCCCCC; font-weight:bold;
}

.footer-container .footer-content .column ul{list-style: none; font-size: 12px; color: #999999;}

.footer-container .footer-content .column:last-child{
	margin-right: 0px;
}

.footer-container a { color:#999999; }
.footer-container a:hover { color:#FFFFFF; }



.footer-container-1{
	width: 100%;
	background: #333333 url("../img/footer_bg2.jpg") repeat-x;
	height: 120px;
}

.footer-container-1 .footer-content{
	width: 1000px;
	margin: auto;
	padding-top: 20px;
	color: #999;
}

.footer-container-1 .footer-content .categories	{
	width: 515px;
}

.footer-container-1 .footer-content img.vsep {
	margin: 0 16px;
}

.footer-container-1 .footer-content .categories ul.nav li{
	float: left;
	padding-left: 12px;
}

.footer-container-1 .footer-content .categories ul.nav li:first-child{
	padding-left: 0;
}

.footer-container-1 .footer-content .categories ul.nav li a{
	color: #999999;
	font-size: 13px;
	font-family: "Arial"; 
}
.footer-container-1 .footer-content .categories ul.nav li a:hover{
    background: none;
    color: #EEEEEE;
}

.footer-container-1 .footer-content .categories ul.nav li.sep{
	color: #333333;
}

.footer-container-1 .footer-content .categories .disclaimer{
	color: #666666;
	font-size: 11px;
}


/************ POPUP CONTENT STYLES *********************/

.purchase-popup {
	display:none; position:absolute;  z-index:10000;
}

.purchase-popup .purchase-popup-container {
	position:relative;
	width:330px;
	height:370px;
	background:url(../img/bg_popup.png) no-repeat left top;
}

.purchase-popup .purchase-popup-container .close {
	color:#999999;
	position:absolute;
	right:25px;
	top:25px;
	opacity:1;
}
.purchase-popup .purchase-popup-container .close:hover {
	opacity:0.5;
}


.purchase-popup-content {
	float:left;
	width:276px;
	height:56px;
	margin-top:22px;
	margin-left:31px;
	background:url(../img/bg_popup_heading.png) repeat-x left top;
	-webkit-border-radius:5px 5px 0 0;
	   -moz-border-radius:5px 5px 0 0;
	        border-radius:5px 5px 0 0;
}
							  
.purchase-popup-content	.heading {
	width:266px;
	height:46px;
	margin-left:5px;
	padding-top:10px;
}

.purchase-popup-content .heading h2 {
	padding:0px;
	line-height:18px;
	font-size:16px;
	color:#FFFFFF;
	font-weight:bold;
	font-family:"Helvetica Bold", Helvetica, Arial;
}

.purchase-popup-content .heading .small {
	font-size:13px;
	color:#cccccc;
}

.purchase-popup-content .wish-list-row {
	padding:7px 13px;
	background:#efefef;
	font-size:11px;
	
}

.purchase-popup-content .wish-list-row .year {
	padding-right:6px;
	color:#333333;
}

.purchase-popup-content .wish-list-row .separate {
	padding-right:6px;
	color:#CCCCCC;
}

.purchase-popup-content .wish-list-row .nr {
	color:#333333;
	font-weight:bold;
}

.purchase-popup-content .wish-list-row .not-rated{
	color:#999999;
}

.purchase-popup-content .wish-list-row .add-to-wishlish	{
	color:#00729e;
}

.purchase-popup-content .popup-row { 
	width:256px;
	margin:5px 0 0 10px;
	padding-bottom:5px;
	border-bottom:1px dashed #CCCCCC;
}

.purchase-popup-content .popup-row.last-row {
	border-bottom:1px solid #ebf8fc;
}


.purchase-popup-content .popup-row small {
	font-size:11px;
	color:#9b9b9b;
}
.purchase-popup-content .popup-row a {
	float:right; padding:0; text-indent:-1000em;
}
										  
.purchase-popup-content .popup-row i {
	padding-bottom:3px;
}
										  
.purchase-popup-content .popup-row .save {
	color:#999999;
}
.purchase-popup-content .popup-row .big-price {
	font-size:15px;
	color:#e75d01;
	font-weight:bold;
	font-style:normal;
}

.purchase-popup-content .popup-row .normal-price {
	font-size:13px;
	color:#e75d01;
	font-weight:bold;
	font-style:normal;
}

.purchase-popup-content .popup-row .small-price {
	color:#e75d01;
	font-size:11px;
	font-weight:bold;
	font-style:normal;
}

.purchase-popup-content .view-more {
	display:blockl
	font-size:14px;
	line-height:33px;
	font-weight:bold;
	margin-left:10px;
}



/***************************

    BUTTON STYLES

****************************/
.buy-bluray-btn{
    background: transparent url("../img/fc_btn_strip.png") 0px 0px no-repeat;
    width: 105px;
    height: 30px;
    border: 0px;
}

.buy-bluray-btn:link		{ background-position:0px 0px; }
.buy-bluray-btn:visited		{ background-position:0px -80px; }
.buy-bluray-btn:hover		{ background-position:0px -40px; }
.buy-bluray-btn::acitve		{ background-position:0px -40px; }

.buy-3d-btn{
    background: transparent url("../img/fc_btn_strip.png") 0px -120px no-repeat;
    width: 105px;
    height: 25px;
    border: 0px;
}
.buy-3d-btn:link		{ background-position:0px -120px; margin-top:5px; }
.buy-3d-btn:visited		{ background-position:0px -180px; margin-top:5px; }
.buy-3d-btn:hover		{ background-position:0px -150px; margin-top:5px; }
.buy-3d-btn:acitve		{ background-position:0px -180px; margin-top:5px; }



.buy-dvd-btn{
    background: transparent url("../img/fc_btn_strip.png") 0px -210px no-repeat;
    width: 105px;
    height: 25px;
    border: 0px;
}
.buy-dvd-btn:link			{ background-position:0px -210px; margin-top:5px; }
.buy-dvd-btn:visited		{ background-position:0px -270px; margin-top:5px; }
.buy-dvd-btn:hover			{ background-position:0px -240px; margin-top:5px; }
.buy-dvd-btn:acitve			{ background-position:0px -270px; margin-top:5px; }


.download-btn{
    background: transparent url("../img/fc_btn_strip.png") 0px -300px no-repeat;
    width: 105px;
    height: 25px;
    border: 0px;
}
.download-btn:link			{ background-position:0px -300px; margin-top:5px; }
.download-btn:visited		{ background-position:0px -360px; margin-top:5px; }
.download-btn:hover			{ background-position:0px -330px; margin-top:5px; }
.download-btn:acitve		{ background-position:0px -360px; margin-top:5px; }


.checkout_btn				{ width:111px; height:40px; display:inline-block; margin-left:24px;
							 background:url(../img/checkout_btn.png) no-repeat left top; outline:none;}	  
.checkout_btn:hover			{ background-position:left bottom; outline:none; }

.btn-small					{ background:#474747 url(../img/movie_titles/bg_small_btn.jpg) repeat-x left top; color:#FFFFFF; border:none;
								  font-size:10px; font-weight:bold; padding: 0px 3px;
								  -mox-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
								  
.btn-small:hover			{ color:#CCCCCC; }







/******* Icons *******/
.social-links i.icon{
	display: inline-block;
	height: 31px;
	width: 37px;
	cursor:pointer;
}

i.icon-twitter{
	background-image: url("../img/social_links.png");
	background-position:0px 0px;
	margin-left: 10px;
}
i.icon-pinterest{
	background-image: url("../img/social_links.png");
	background-position:-40px 0px;
}
i.icon-fb{
	background-image: url("../img/social_links.png");
	background-position:-80px 0px;
}
i.icon-gplus{
	background-image: url("../img/social_links.png");
	background-position:-120px 0px;
}

.brand.icon-cart{
    background: url("../img/icon_cart.png") left 23px no-repeat;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    margin-left: 5px;
}
.brand.icon-fav{
    background: url("../img/icon_fav.png")  3px 24px no-repeat;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    margin-left: 5px;
}

.icon-movie{
    background: url("../img/icon_movie.png") no-repeat;
    line-height: 16px;
	padding-right:10px;
}
.icon-tv{
    background: url("../img/icon_tv.png") no-repeat;
	padding:0 10px 2px 0;
    line-height: 16px;
}

.icon-star{
    background: url("../img/icon_star.png") no-repeat;
    line-height: 16px;
    padding-left: 25px;
}

.icon-3d{
    background: url("../img/icons_foxconnect.png") 0 -6px no-repeat;
    line-height: 20px;
    padding-left: 10px;
}

.icon-download{
    background: url("../img/icons_foxconnect.png") 0 -67px no-repeat;
    line-height: 20px;
    padding-left: 10px;
}


.icon-back{
    background:url(../img/icon_back.png) no-repeat;
    line-height: 16px;
    padding-right: 10px;
}

.icon-previous{
    background:url(../img/icon_brevious.png) no-repeat;
    line-height: 16px;
    padding-right: 20px;
}

.icon-next{
    background:url(../img/icon_next.png) no-repeat;
    line-height: 22px;
    padding-right: 10px;
	margin-left: 10px;
}

.icon-thumbnail{
    background:url(../img/icon_gallery.png) no-repeat;
    line-height: 22px;
    padding-right: 20px;
}

.icon-list{
    background:url(../img/icon_list_view.png) no-repeat;
    line-height: 22px;
    padding-right: 20px;
}

.icon-star2{
    background:url(../img/icon_star2.png) no-repeat;
    line-height: 17px;
    padding-right: 5px;
	padding-bottom:2px;
}

.icon-arrow-right{
    background:url(../img/icon_arrow_right.png) no-repeat right center;
    padding-right: 20px;

}

.icon-arrow-left{
    background:url(../img/icon_arrow_left.png) no-repeat left center;
    padding-right: 20px;
}

.icon-shopping-cart {
	background:url(../img/icon_shopping_cart.png) no-repeat left center;
	padding-right:13px;
	width:23px;
	height:18px;
	line-height:18px;
}

.icon-digital{
    background:url(../img/icon_digital.png) no-repeat;
    line-height: 16px;
    padding-right: 10px;
}

.icon-wishlist{
    background:url(../img/icon_wishlist.png) no-repeat left center;
    padding-right: 13px;
	width:17px;
	height:17px;
	line-height:17px;
}

.icon-social_pulse{
    background:url(../img/icon_social_pulse.png) no-repeat left center;
    padding-right: 25px;
}

.icon-want {
	background:url(../img/icon_want.png) no-repeat left center;
	line-height:20px;
	padding-right:25px;
}

.icon-like {
	background:url(../img/icon_like.png) no-repeat left center;
	line-height:20px;
	padding-right:25px;
}

.icon-have {
	background:url(../img/icon_have.png) no-repeat left center;
	line-height:20px;
	padding-right:25px;
}

.icon-featured_selection {
	background:url(../img/icon_featured_selection.png) no-repeat left center;
	line-height:20px;
	padding-right:25px;
}

.icon-more-details {
	background-image:url(../img/fc_img_strip.png);
	background-position:0px -159px;
	height:10px;
	margin-top:2px;

}








